@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF3DA;
  --foreground: #171717;
}

@media (prefers-color-scheme: default) {
  :root {
    --background: #000000;
    --foreground: #FFF3DA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
